a{
    text-decoration: none;
}

a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.row{
    position: relative;
}

#a-banner{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

.logoPrin{
    clip-path: inset(37px 248px 36px 35px);    
    position: relative;
    top: -20px;  
    left: 100px; 

}

#lupa{
    width: 20px;
    height: 20px;
}

#bandera{
    width: 20px;
    height: 20px;
}

#flecha{
    margin-top: 1px;
    width: 15%;
    height: 30%;
}

video {
    position: absolute;
    top: 7.4%;
    left: 0;
    width: 100%;
    height: 65%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 7.4%;
    left: 0;
    width: 100%;
    height: 65%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

#logo {
    max-width:60%; 
    height: auto;
}

.opciones-container {
    display: flex;
    position: relative;
    gap: 34px;
    left: -6%;
    margin-right: auto; 
}

#opciones {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 100%;
    top: 24%;
}
